<div class="container-fluid welcome section-container">

  <div class="row">

    <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-12 welcome-text">

      <h3>Welcome To</h3>

      <span class="header-text">Dionysus</span>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis quam at laoreet porta. Ut suscipit erat libero, ut tincidunt mauris lacinia vel. Aliquam ultrices dolor sit amet neque faucibus vehicula. Vivamus laoreet lorem lacus, a maximus nunc dictum a. Phasellus felis turpis, elementum nec justo id, imperdiet malesuada erat.</p>

    </div>

    <div class="col-md-5 col-sm-5 col-xs-12 welcome-image">

      <div class="col-md-6 col-sm-12 col-xs-6 pull-left"> <img src="images/welcome1.png"/> </div>

      <div class="col-md-6 pull-left col-xs-6 welcome2"> <img src="images/welcome2.png"/> </div>

    </div>

  </div>

</div>

<div class="container-fluid upevent section-container">

  <div class="upevent-effect">

    <div class="row">

      <div class="col-md-8 col-md-offset-2 col-xs-12 uphead">

        <h3>Summer Menu</h3>

        <span class="header-text">Dyonisus</span> </div>

      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 upbox">

        <div class="col-md-12 col-sm-12 col-xs-12 upimg"> <img src="images/upcoming.jpg"/> </div>

        <div class="col-md-12 col-sm-12 col-xs-12 special-note">


          <p>Check out our summer menu!</p>

        </div>

      </div>



    </div>

  </div>

</div>

<div id="contact" class="container-fluid footer section-container">

  <div class="row">

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h3>Contact</h3>
      <span class="header-text">Dionysus</span>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

      <div class="col-md-6 col-sm-6 address">
        <p>111-Somewhere,</p>
        <p>Street-77 Middle Off,</p>
        <p>Nowhere - 123 987</p>
      </div>

      <div class="col-md-6 col-sm-6 social">
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>

    </div>

  </div>
</div>