<!-- Latest compiled and minified CSS Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="css/login.css" type="text/css">

<div class="container">

  <form method="post" action="authenticate.php" class="form-signin" >

    <h2 class="form-signin-heading text-center">Dionysus</h2>

    <input class="input-block-level" type="text" name="username" value="" placeholder="username" />
    <input class="input-block-level" type="password" name="password" value="" placeholder="password" />
    <input class="input-block-level" type="hidden" name="class" value="Login" />

    <input class='btn btn-primary' type="submit" value="Login" />

  </form>

</div>