<div class="container-fluid">
  
  <form id="categoryForm" class="form-horizontal">
    <fieldset>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Name</label>
        <div class="col-md-4">
          <input id="name" name="name" type="text" class="form-control input-md" required>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="description">Description</label>
        <div class="col-md-4">
          <input id="description" name="description" type="text" class="form-control input-md" required>
        </div>
      </div>

      <br/>

      <!-- Submit button -->
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input id="addCategoryFormButton" type="submit" value="Add Category">
        </div>
      </div>

    </fieldset>
  </form>

</div>